*.snakeWorld
{
    width: 400px;
    height: 400px;
}

.snakeBits
{
    position:relative;
    left:0px;
    top:0px;
}

.apple
{
    position:relative;
    left:0px;
    top:0px;
}

#snake
{
   position:relative;
   left:0px;
   top:0px;
}